
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;

  
background-color: aqua;

  overflow-x: hidden;
  flex-direction: column;
  scrollbar-width: none;

 display: flex;
}
body{
  background-color: black ;
   /* padding: 10px;
   height: 30px;
   width: 100%; */
   gap: 10px;


   display: flex;
}
/* pre Chrome, Edge, Safari */
body::-webkit-scrollbar {
 
  display: none; /* niekedy potrebné */
}

html {
  scroll-behavior: smooth;
}



:root {
  --radius:22px;
--sred:350;

--skusam:rgb(0, 26, 92);

--sivafarbicka:  rgb(216, 216, 216);
--blur:rgba(219, 219, 219, 0.234);
--blur2:rgba(90, 90, 90, 0.242);
  --bielapfc:white;
  --farba-biela:rgb(0, 26, 92);
  --modraSvetla:rgb(0, 102, 192);
  /* --modraSvetla:rgba(0, 200, 255, 1); */
  --modraTmava:rgb(0, 110, 255);
/* rgb(3, 47, 142) */

  
  --modraCierna1:rgb(0, 0, 0);
  --modraCierna2:rgb(32, 32, 32);
    --farba-cierna:rgb(50, 50, 50);



    --tien: rgba(255, 255, 255, 0.105) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  --spacing: 20px;
}

/* tvoj app container */

.lenpagenabreak{
  display: none;

}



#druhacstr{
  display: none;
  height: 0px;
}
.kontainer{
    flex: 1;
    pointer-events: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 20px;
    justify-content: space-between;
    /* grid-template-rows: auto auto auto; */
    background-color: red;
}



body.no-scroll {
  overflow: hidden; /* zablokuje rolovanie */
}


.lentakabysomvidle{
  height: 500px;
  width: 100%;
  background-color: aqua;
}
