
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
font-family: 'Inter', sans-serif;
  overflow: auto; /* rolovanie zostáva */
  scrollbar-width: none; /* Firefox */
  /* background-color: rgb(242, 0, 0); */
}

/* pre Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: 0; /* skryje scroll bar */
  height: 0;
  display: none; /* niekedy potrebné */
}

:root {
  --radius:22px;
--sred:350;

--skusam:rgb(0, 26, 92);

--sivafarbicka:  rgb(216, 216, 216);
--blur:rgba(219, 219, 219, 0.234);
--blur2:rgba(90, 90, 90, 0.242);
  --bielapfc:white;
  --farba-biela:rgb(0, 26, 92);
  --modraSvetla:rgb(0, 102, 192);
  /* --modraSvetla:rgba(0, 200, 255, 1); */
  --modraTmava:rgb(0, 110, 255);
/* rgb(3, 47, 142) */

  
  --modraCierna1:rgb(0, 0, 0);
  --modraCierna2:rgb(32, 32, 32);
    --farba-cierna:rgb(50, 50, 50);



    --tien: rgba(255, 255, 255, 0.105) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  --spacing: 20px;
}

/* tvoj app container */
#app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  
  /* background-color: aqua; */
  /* background: #920d0d; */
/* background: linear-gradient(0deg,rgba(0, 0, 0, 1) 3%, rgba(0, 38, 255, 1) 32%, rgba(0, 212, 255, 1) 89%); */
  /* padding:  20px; */

}

@media (min-width: 430px) {
  #app {
  height: fit-content;

}
}



.kontainer{
    flex: 1;
    pointer-events: auto;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 20px;
    justify-content: space-between;
    /* grid-template-rows: auto auto auto; */
    /* background-color: red; */
}
#druhacstr{
  height: fit-content;
  display: flex;
  padding: 0px 20px 20px 20px;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  background-color: var(--skusam)
}


body.no-scroll {
  overflow: hidden; /* zablokuje rolovanie */
}
/* 


@media (min-width: 600px) {
  .kontainer {
display: none;
opacity: 0;
pointer-events: none;
}
#druhacstr{
  display: none;
  height: 0px;
}
  #app {
  height: 100%;

}
html, body {
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
} */

@media (min-width: 600px) {
  #druhacstr{
  display: none;
  height: 0px;
}
 .kontainer {
/* display: none; */
opacity: 0.5;

pointer-events: none;
height: 100vh !important;
}
html, body {
 height: 100vh !important;
  margin: 0;
font-family: 'Inter', sans-serif;
  overflow: auto; /* rolovanie zostáva */
  scrollbar-width: none; /* Firefox */
  /* background-color: rgb(242, 0, 0); */
}
#app {
  display: none;
}
.lenpagenabreak{
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  padding: 20px;

  align-items: center;
}
.upozornenejo{

  background-color: var(--blur);
  border-radius: 22px;
  box-shadow: var(    --tien);
  height: 45px;
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 10px;


    align-items: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* font-size: 13px; */
    font-weight: 400;
    font-size: 13px;
    color: WHITE;
}
.ikonnkkna{
  position: absolute;
  height: fit-content;
  width: fit-content;
  bottom: 20px;
  gap: 10px;
  align-items: center;
  right: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 22px;
 background-color: var(--blur);
    box-shadow: var(    --tien);
        font-size: 13px;
}
.tubuudinkoy{
  height: fit-content;
  width: fit-content;
  color: white;
   display: flex;
   padding: 7px;
  justify-content: center;
  border-radius: 22px;
 align-items: center;
    background-color: var(--blur);
    box-shadow: var(    --tien);
}
}