.celacast{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
 
    /* background-color: black; */
}

.hore{
    /* background-color: pink; */
      background-color:var(--blur);
      box-shadow: var( --tien);
    border-radius:var(  --radius);
    /* padding: 12px; */
    display: grid;
     height: 45px;
     padding: 0px 15px;
    /* height: 40px; */
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1;
}
.textdiv {
background-color:var(--blur); 
      box-shadow: var( --tien);
 height: fit-content;
 width: fit-content;
 padding: 5px 10px;
border-radius: 22px;
  display: flex;
  color: var(--bielapfc);
  font-size: 13px;
    font-weight: 400;
  /* font-weight:var(--sred); */
  align-items: center;      /* vertikálne */
  justify-content: center;  /* horizontálne */
}
.lentak{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.spodnacast{
    height: fit-content;
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
 /* border: 1px solid white; */
    /* background-color:pink; */
    background-color:var(--blur);
       box-shadow: var( --tien);
    justify-content: space-between;
   border-radius:var(  --radius);
    padding: 10px;
    padding-left: 12px;
}
.lavastarna{
    display: flex;   
    /* gap: 5px; */
width: fit-content;
/* padding-left: 10px;
padding-right: 10px; */
justify-content: center;
align-items: center;
flex-direction: column;
    border-radius:20px;
 /* background-color:red */
}
.texxookok{
    font-weight: 400;
    font-size: 21px;
    color: var(  --bielapfc);
    
}
.texxookok3{
    font-weight: 300;
    font-size: 18px;
    color: var(  --bielapfc);
   
    /* background-color: aqua; */
}
.pravastrana{
    display: flex;
    align-items: start;
    justify-content: end;
    /* background-color: rgb(68, 255, 0); */
}
/* .texthoreprava{
    background-color: rgb(236, 236, 236);
    font-size: 19px;
    display: flex;
    gap: 5px;
    align-items: end;
 
} */


.horrehreo{
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* font-size: 13px; */
    font-weight: 400;
    font-size: 13px;
    /* background-color: aqua; */
}
.texthoreprava2{
    height: 100%;
       display: flex;
    /* gap: 5px; */
    font-weight: 200;

   color: aliceblue;
   align-items: center;
   gap: 5px;
        font-size: 13px;
    /* background-color: rgb(255, 145, 0); */
}
.lllplp{
    font-size: 20px;
}
.llpmm{
    /* background-color: black; */
    display: flex;
    align-items: center;
    font-size: 18px;
    height: fit-content;
    justify-content: center;
}
.textoc{
    display: flex;
   
    /* background-color: blueviolet; */
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    /* height: 20px; */
    width: fit-content;
}